doctype html
html(lang="en" ng-app="mymeanjs")
	head
		title My mean

		meta( name="fragment" content="!" )

		link( rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css" )

		script( src="/angular/angular.js")
		script( src="/angular-route/angular-route.js")
		script( src="/modules/dummy/dummy.module.js")
		script( src="/app.js")

	body
		div.container
			div(ng-view)
