doctype html
html(lang="en" ng-app="mymeanjs")
	head
		title My mean

		meta( name="fragment" content="!" )

		link( rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css" )

		script( src="/lodash/dist/lodash.js")
		script( src="/angular/angular.js")
		script( src="/angular-route/angular-route.js")
		script( src="/angular-bootstrap/ui-bootstrap.js")
		script( src="/angular-bootstrap/ui-bootstrap-tpls.js")

		// use to load single modules on demand
		// script( src="/modules/dummy/dummy.module.js")
		script( src="/clientapp.js")

	body
		div.container
			div(ng-view)
