doctype html
html( lang="en" ng-app="mymeanjs" )
	head
		title My mean

		base( href="/" )

		meta( name="fragment" content="!" )
		meta( http-equiv="X-UA-Compatible" content="IE=edge" )
		meta( name="viewport" content="width=device-width, initial-scale=1" )
		meta( name="description" content="" )
		meta( name="author" content="carlos baeza - carlos.baeza@posteo.de" )

		// css
		link( rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" )
		link( rel="stylesheet" href="/css/jumbotron.css" )
		link( rel="stylesheet" href="/flag-icon-css/css/flag-icon.css" )
		link( rel="stylesheet" href="/font-awesome/css/font-awesome.css" )

		//- auth
		if !!bootstrappedUser
			script.
				window.bootstrappedUserObject = !{JSON.stringify(bootstrappedUser)}

		// angular core libraries
		script( src="/angular/angular.js" )
		script( src="/angular-route/angular-route.js" )

		// helper
		script( src="/lodash/dist/lodash.js" )
		script( src="/angular-md5/angular-md5.js" )

		// external libraries
		script( src="/restangular/dist/restangular.min.js" )

		// ui
		script( src="/angular-bootstrap/ui-bootstrap.js" )
		script( src="/angular-bootstrap/ui-bootstrap-tpls.js" )

		// use to load single modules on demand
		// script( src="/modules/dummy/dummy.module.js")
		script( src="/clientapp.js" )

	body( ng-controller="MainClientController" )

		include includes/header

		div( ng-view )
