div.jumbotron
   div.container
      h1 Module Home say Hello !
         p "status: " {{status}}

         div.btn-group
            label( class="btn btn-success" ng-model="radioModel" btn-radio="'Left'" uncheckable ) {{ buttonMessage }}