.modal-header
	h3.modal-title Register as new user

.modal-body
	p huhu

.modal-footer
	button.btn.btn-primary( type="button" ng-click="doRegister($event)" )
		span Register

	button.btn.btn-warning( type="button" ng-click="close($event)" )
		span Cancel