body {
	height: 100%;
	padding-top: 50px;
	padding-bottom: 20px;
	position: relative;

	/*background: center no-repeat fixed url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/BGRA0KYCD8.jpg');*/
	/*background-size: cover;*/
	/*opacity: 0.5;*/

}

.spacer{
	padding-right: 3px;
}

.msg-error{
	color: #FF0000;
	font-size: 14px;
	float: right;
}

