// LOGIN FORM
.navbar-collapse.collapse( id="navbar" )

	div( ng-show="user.registeredUser == false" )

		form.navbar-form.navbar-right( name="loginForm" role="form" novalidate )

			div.form-group.spacer
				input.form-control( type="email" name="email"  placeholder="Email" ng-model="user.email" required )

			div.form-group.spacer
				input.form-control( type="password" name="password" placeholder="Password" ng-model="user.password" required)

			div.form-group.spacer
				button.btn.btn-success( type="submit" ng-disabled="loginForm.$invalid && !loginForm.email.$valid" ng-click="authenticate($event)")
					span Login

			div.form-group
				button.btn.btn-primary( type="button" ng-click="register($event)" )
					span Register

	div( ng-show="user.registeredUser == true" )
		.navbar-form.navbar-right

			//- Single button
			div.btn-group( dropdown is-open="status.isopen" )

				button.btn.btn-primary {{user.email}}
				button.btn.btn-primary.dropdown-toggle( type="button" dropdown-toggle ng-disabled="disabled" ng-click="toggleDropdown($event)" )
					span.caret
					span.sr-only

				ul.dropdown-menu( role="presentation" )

					li( role="presentation" )
						a( role="menuitem" href="/profile" )
							span.glyphicon.glyphicon-user Profile

					li( role="presentation" )
						a( role="menuitem"  href="#" )
							span.glyphicon.glyphicon-shopping-cart Shopping

					li( role="presentation" )
						a( role="menuitem" href="#" ) Favorities

					li
						.divider

					li( role="presentation" )
						a( role="menuitem" href="/logout" ng-click="logout( $event )" )
							span.glyphicon.glyphicon-log-out logout
