form.navbar-form.navbar-right( name="loginForm" role="form" novalidate )

   div.form-group.spacer
      input.form-control( type="email" name="email"  placeholder="Email" ng-model="user.email" required )

   div.form-group.spacer
      input.form-control( type="password" name="password" placeholder="Password" ng-model="user.password" required)

   div.form-group.spacer
      button.btn.btn-success( type="submit" ng-disabled="loginForm.$invalid && !loginForm.email.$valid" ng-click="authenticate($event)")
         span  {{ 'login' | translate }}