// LOGIN FORM
.navbar-collapse.collapse( id="navbar" )

	div( ng-show="user.isAuthenticated == false" )

		form.navbar-form.navbar-right( name="loginForm" role="form" novalidate )

			div.form-group.spacer
				input.form-control( type="email" name="email"  placeholder="Email" ng-model="user.email" required )

			div.form-group.spacer
				input.form-control( type="password" name="password" placeholder="Password" ng-model="user.password" required)

			div.form-group.spacer
				button.btn.btn-success( type="submit" ng-disabled="loginForm.$invalid && !loginForm.email.$valid" ng-click="authenticate($event)")
					span Login

			div.form-group
				button.btn.btn-primary( type="button" ng-click="register($event)" )
					span Register

	div( ng-show="user.isAuthenticated == true" )
		.navbar-form.navbar-right

			//- Single button
			div.btn-group( dropdown is-open="status.isopen" )

				button.btn.btn-primary {{user.email}}
				button.btn.btn-primary.dropdown-toggle( type="button" dropdown-toggle ng-disabled="disabled" ng-click="toggleDropdown($event)" )
					span.caret
					span.sr-only

				ul.dropdown-menu( role="presentation" )

					li( role="presentation" )
						a( role="menuitem" href="/news" )
							span News

					li( role="presentation" )
						a( role="menuitem" href="/messages" )
							span Messages
							//span.badge 42

					li
						.divider

					li( role="presentation" )
						a( role="menuitem" href="/controlpanel" )
							span Control panel

					li( role="presentation" )
						a( role="menuitem"  href="/myoffers" )
							span My offers

					li( role="presentation" )
						a( role="menuitem"  href="/profile/{{user._id}}"  )
							span Profile

					li( role="presentation" )
						a( role="menuitem"  href="/account" )
							span Account information

					li( role="presentation" )
						a( role="menuitem"  href="/favourites" )
							span Favourites

					li
						.divider

					li( role="presentation" )
						a( role="menuitem" href="/logout" ng-click="logout( $event )" )
							span logout

	ul.nav.navbar-nav.pull-left
		li
			a.icon-btn( href="/about" )
				i.fa.fa-users
				span {{ 'about' | translate }}

		li
			a.icon-btn( href="/contact" )
				i.fa.fa-envelope
				span contact

		li.dropdown(is-open="langDropDown")
			a.icon-btn(dropdown-toggle)
				i.fa.fa-caret-down
				span lang

			ul.dropdown-menu
				li( ng-repeat="lang in providers.languages" )
					a.icon-btn(ng-click="useLang($event, lang)")
						span.flag-icon( ng-class="getLangCss(lang.flag)" )
						span {{ lang.text }} 