.navbar-collapse.collapse( id="navbar" )

	ul.nav.navbar-nav.navbar-right

		li.navbar-form( ng-show="user.isAuthenticated == false")
			button.btn.btn-primary( ng-click="openSignInDialog($event)")
				span.glyphicon.glyphicon-hand-right {{system.message}}

		li.navbar-form( ng-show="user.isAuthenticated == true" )
			include menu

		li.navbar-form
			include languages

	ul.nav.navbar-nav.pull-left
		li
			a.icon-btn( href="/about" )
				span {{ 'about' | translate }}
		li
			a.icon-btn( href="/contact" )
				span {{ 'contact' | translate }}

